# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other git ignores
.DS_Store
.idea/*
automation/adblock_for_firefox-4.20.0-fx.xpi
geckodriver.log
*-service-account.json
